body{
    background-image:url("/images/fondo_juego.jpg");
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 20px; 
    align-content: center;
}
#header{
    width: 300px;
    min-height: 50px;
    margin: auto;
    color:#70624c;
    
}
#table1{
    width: 300px;
  min-height: 250px;
  margin: auto;
  background: #ffffff9c;
  color: white;
  padding: 2rem;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);;
}
.th_text{
    color: #70624c;
    font-family:serif;
    font-size: large;
}
.input_numero{
    width: 50px;
}
#nombre{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#dificultad_partida{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#tema_partida{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#numero1{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#numero2{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#empezar_partida{
    background-color: #f0d4ad;
    font-family:serif;
    border-style: ridge;
    color: #70624c;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 300px;
    margin: auto;
    min-height: 50px;
    color:#70624c;   
    align-self: center;
}
#tablero{
    background-image:url("/images/fondo_juego.jpg");
    color: #70624c;
    padding: 20px;
    font-family:serif;
    width: 800px;
    margin: auto;
    text-align: center;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


