body{
    background-color:#DCDCDC;
    margin: 0;
    align-content: center;
    height: 100%;
}
#header{
    width: 300px;
    min-height: 50px;
    margin: auto;
    color:#00ABE4;
    
}
#table1{
    width: 300px;
  min-height: 250px;
  margin: auto;
  background: #00ABE4;
  color: white;
  padding: 2rem;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);;
}
.th_text{
    color: #D3D3D3;
    font-family:monospace;
    font-size: large;
}
#dificultad_partida{
    background-color: #D3D3D3;
    font-family:monospace;
}
#tema_partida{
    background-color: #D3D3D3;
    font-family:monospace;
    border-style: ridge;
}
#empezar_partida{
    background-color: #D3D3D3;
    font-family:monospace;
    border-style: ridge;
}
#footer{
    width: 300px;
    min-height: 50px;
    margin: auto;
    color:#00ABE4;
    text-align: center;
}